@font-face {
    font-family: trade-gothic-bold-condensed;
    src: url('../fonts/Trade-Gothic-LT-Bold-Condensed-No--20.ttf');
}

body.login {
    background: #0288b1;
    font-family: calibri;
    font-size: 18px;
}

.btn.linked {
    border-radius: 0;
    background: none;
    padding: 12px 22px;
    border: 2px solid white;
    color: white;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.btn.linked:hover, .btn.linked:focus, .btn.linked:active, .btn.linked.active {
    color: #291A34;
    background-color: white;
    border-color: #291A34;
}

.btn.linked:active, .btn.linked.active {
    border-color: #291A34;
    background-color: white;
    color: #291A34;
    box-shadow: none;
}
.btn.linkedReverse {
    border-radius: 0;
    background: none;
    padding: 12px 22px;
    border: 2px solid #291A34;
    color: #291A34;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.btn.linkedReverse:hover, .btn.linkedReverse:focus, .btn.linkedReverse:active, .btn.linkedReverse.active {
    color: white;
    background-color: #291A34;
    border-color: white;
}

.btn.linkedReverse:active, .btn.linkedReverse.active {
    border-color: white;
    background-color: #291A34;
    color: white;
    box-shadow: none;
}
.content {
    height: 100%;
}
#commentForm{
    padding-top: 15px;
    padding-bottom: 5px;
}
.form-container{
    padding: 40px 40px 40px 40px;
}
.content-background {
    background: rgb(230, 239, 243);
}
.btn.sharpend{
    border-radius: 0;
    background: none;
    padding: 12px 22px;
    border: 2px solid #291A34;
    color: #291A34;
    font-family: Verdana,Arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.btn.sharpend:hover, .btn.sharpend:focus, .btn.sharpend:active, .btn.sharpend.active {
    color: white;
    background-color: #291A34;
    border-color: white;
}
.btn.sharpend:active, .btn.sharpend.active {
    border-color: white;
    background-color: #291A34;
    color: white;
    box-shadow: none;
}
.footer1{
    background-color: #291A34;
    height: 10%;
    text-align: center;
    margin-top: 40px;
    color: white;
}
.copyright-allign{
    position: relative;
    top: 40%;
}
.form-design {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}
body, html{
    height: 100%;
    margin: 0;
}
.modal-backdrop {
    background-color: red;
}
.error{
    color: #EA6868;
}
.wrapper{
    height: 70%;
    margin-bottom: 40px;
}
.backimg{
    background: url("../images/bckg.png");
    background-size: cover;
    height: 100%;
}
.pannel{
    position: relative;
    top: 40%;
    text-align: center;
}
.pannel h1{
    font-family: trade-gothic-bold-condensed,Arial,sans-serif;
    font-weight: 300;
    font-size: 46px;
    color: white;
}
md-input-container:not(.md-input-invalid) .md-input {
    border-color: #a8a8a8;
}
md-input-container:not(.md-input-invalid) label{
    color: #a8a8a8;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #291A34;
}
md-input-container:not(.md-input-invalid).md-input-focused label{
    color: #291A34;
}