<div class="wrapper">
    <div class="backimg">
        <div class="container pannel">
            <div>
                <h1>THANK YOU FOR SIGNING IN</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" style="text-align: center;">
    <a class="btn linkedReverse" ng-click="seeLoggedIn()">All Users</a>
</div>

<div class="footer1">
    <div class="container copyright-allign">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Valentino Perovic 2015</p>
            </div>
        </div>
    </div>
</div>